:root {
    --color-background: rgb(10,10,10);
    --color-background-light: rgb(20,20,20);
    --color-tile: rgb(14,14,14);
    --color-tile-light: rgb(24,24,24);

    --color-text: rgb(255,255,255);
    --color-text-dark: rgb(128, 128, 128);
}

body, html {
    background-color: var(--color-background);
    margin: 0;
    padding: 0;

    font-family: "Old Standard TT", serif;
    font-weight: 400;
    font-style: normal;
    color: var(--color-text);

    /* scroll-behavior: smooth; */

    -webkit-text-size-adjust: 100%; /* Prevent font scaling in landscape while allowing user zoom */
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Instrument Serif", serif;
    margin: 0;
}

h1 {
    font-size: 1.4rem;
}

p, ul, li {
    font-size: 1rem;
    margin: 0;
    padding: 0;
}

a {
    color: inherit;
}

footer {
    padding-bottom: 1rem;
    color: var(--color-text-dark);
}

.main-container {
    display: flex;
    flex-direction: column;
}

.navbar {
    background: linear-gradient(var(--color-background) 25%, rgba(0,0,0,0));
    backdrop-filter: blur(5px);
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 99;
    padding: 1rem 1rem 0.4rem 1rem;
    box-sizing: border-box;
}

.navbar > ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    list-style: none;
    gap: 1rem;
}

.navbar > ul > li {
    user-select: none;
}

li > a, .project-board > a {
    text-decoration: none;
}



.main {
    padding: 0px 1rem;
}

.inline-icon {
    height: 1rem;
    vertical-align: -0.2rem;
    border-radius: 0.2rem;
}

.project-board {
    display: grid;
    grid-template-columns: 1fr;
    gap: 0.6rem;
}

.project-tile {
    display: flex;
    flex-direction: row;
    gap: 0.4rem;
    background-color: var(--color-tile);
    border-color: var(--color-tile-light);
    border-style: solid;
    border-width: 1px;
    /* aspect-ratio: 4; */
    height: 6rem;
    padding: 0.4rem;

    transition: background-color 250ms;
}

.project-tile-icon {
    height: 100%;
    aspect-ratio: 1;
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: no-repeat;
}

.project-tile-text {
    flex: 2;
    user-select: none;
}

.project-tile-text>:nth-child(1) {
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
            line-clamp: 2;
}

.project-tile-text>:nth-child(2) {
    color: var(--color-text-dark);
    font-style: italic;

        overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
            line-clamp: 1;
}

.contact {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    list-style: none;
    gap: 1rem;
}

.contact > li {
    text-decoration: underline;
}

.spacer {
    margin-bottom: 4rem;
}

.spacer:first-of-type {
    margin-bottom: 6.4rem;
}

.spacer:last-of-type {
   margin-bottom: 10rem;
}


noscript {
    font-style: italic;
    color: rgb(175,175,175);
}

/* tablet */
@media (min-width: 480px) {
    .main-container {
        max-width: 75vw;
        margin: auto;
    }
}

/* desktop */
@media (min-width: 1024px) {
    .main-container {
        flex-direction: row;
        max-width: 1024px;
        margin: 10vh auto ;
        height: 80vh;
    }

    .navbar {
        flex: 1;
        padding: 0 1rem;
        position: static;
    }

    .main {
        flex: 5;
        margin-top: 0;
        overflow-y: auto;
    }

    .navbar > ul {
        flex-direction: column;
    }

    .navbar > ul > li:hover {
        text-decoration: underline;
    }

    .project-tile:hover {
        background-color: var(--color-tile-light);
    }

    .spacer {
        margin-top: 4rem;
        margin-bottom: 0;
    }

    .spacer:first-of-type {
        margin: 0 0 0 0;
    }

    .spacer:last-of-type {
        margin-top: 10rem;
        margin-bottom: 0;
    }
}