:root {
    --color-background: rgb(10,10,10);
    --color-text: rgb(255,255,255);
}

body, html {
    background-color: var(--color-background);
    margin: 0;
    padding: 0;

    font-family: "Old Standard TT", serif;
    font-weight: 400;
    font-style: normal;
    color: var(--color-text);

    -webkit-text-size-adjust: 100%; /* Prevent font scaling in landscape while allowing user zoom */
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Instrument Serif", serif;
    margin: 0;
}

h1 {
    font-size: 1.4rem;
}

p, ul, li {
    font-size: 1rem;
    margin: 0;
    padding: 0;
}

a {
    color: inherit;
}

.navbar {
    background: linear-gradient(var(--color-background) 25%, rgba(0,0,0,0));
    backdrop-filter: blur(5px);
    position: fixed;
    width: 100%;
    top: 0;
}

.navbar > ul {
    padding: 1rem 1rem 0.4rem 1rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    list-style: none;
    gap: 1rem;
}

.navbar > ul > li {
    user-select: none;
}

li > a {
    text-decoration: none;
}



.main {
    /* margin-top: 8rem; */
    padding: 0px 1rem;
}

.inline-icon {
    height: 1rem;
    vertical-align: -0.2rem;
    border-radius: 0.2rem;
}

.contact {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    list-style: none;
    gap: 1rem;
}

.contact > li {
    text-decoration: underline;
}

noscript {
    font-style: italic;
    color: rgb(175,175,175);
}

/* desktop */
@media (min-width: 1024px) {
    .navbar > ul > li:hover {
        text-decoration: underline;
    }
}